section.slider.container
    h2 Новинки
    .slider__wrap
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
        .slider__slide
            .slider__back
                .slider__img
                    img(src="./images/decor/image.jpg", alt="image")
                .slider__text
                    a(href="#") Нож неподвижный 
                        span КЗК - 0290417
                    span 120 ₽
